@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #FFE504;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 40pt;
	color: #FFFFFF;
	letter-spacing: 1.6px;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 17pt;
	color: #FFFFFF;
	letter-spacing: 1.6px;
}

main {
	max-width: 1280px;
	max-height: 720px;
	width: 1280px;
	width: 90%;
	height: 720px;
	background-color: #023e8a;
	margin-left: auto;
	margin-right: auto;
}

header {
	width: 20%;
	height:97px;
	float: left;
	background-color: #000000;
}

.logo {
	padding-left: 169px;
	padding-top: 20px;
}

nav {
	width: 80%;
	height: 97px;
	float: right;
	background-color: #000000;
}

nav li {
	display: inline;
} 

nav li a {
	width: 12%;
	font-size: 15px;
	text-decoration: none;
	text-align: center;
	float: left;
	padding-top: 40px;
	padding-left: 18px;
	margin-right: 0.2%;
	color: #FFE504;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
}

.netflix {
	padding-top: 3.8%;
	padding-left: 405px;
}

section {
	width: 100%;
	height: 572px;
	background-color: #48cae4;
	clear: both;
}

#primero {
	width: 45%;
	height: 572px;
	background-color: #000000;
	float: left;
	padding-left: 169px;
	padding-top: 120px;
}

.amy {
	padding-right: 1%;
	padding-top: 58px;
}

.frank {
	padding-left: 72px;
	padding-right: 1%;
	padding-top: 58px;
}

#segundo {
	width: 55%;
	height: 572px;
	background-color: #000000;
	float: right;
	padding-left: 28px;
	padding-top: 1%;
}


footer {
	width: 100%;
	height: 51px;
	background-color: #023e8a;
}

#logo {
	height: 100%;
	width: 30%;
	padding-left: 169px;
	padding-top: 15px;
	float: left;
	background-color: #000000;
}

#redes {
	height: 100%;
	width: 70%;
	float: right;
	background-color: #000000;
}

.ig {
	float: left;
	padding-top: 12px;
	padding-left: 198px;
}

.fb {
	float: left;
	padding-top: 12px;
	padding-left: 62px;
}

footer ul li {
	display: inline;
} 

footer ul li a {
	padding-top: 3.8%;
	padding-left: 1%;
	margin-right: 0.2%;
}

.nombre {
	float: right;
	padding-right: 169px;
	padding-top: 15px;
	text-decoration: none;
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	font-size: 10pt;
	color: #FFFFFF;
	letter-spacing: 1px;
}

#ep1 {
	height: 100%;
	width: 35%;
	float: left;
	background-color: #fbb1bd;
	padding-left: 169px;
	padding-top: 20px;
}

#ep2 {
	height: 100%;
	width: 30%;
	float: left;
	background-color: #f7cad0;
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

#ep3 {
	height: 100%;
	width: 35%;
	float: right;
	background-color: #ff5c8a;
	padding-top: 20px;
}

#titular {
	height: 8%;
	width: 100%;
	background-color: #000000;
}

.titular {
	width: 74%;
	color: #000000;
	background-color: #FFE50A;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 3px;
	margin-left: 169px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 16pt;
	letter-spacing: 1.6px;

}

#amy {
	height: 92%;
	width: 35%;
	float: left;
	background-color: #000000;
	padding-left: 169px;
	padding-top: 10px;
}

p a {
	text-decoration: none;
	color: #FFE50A;
}

#frank {
	height: 92%;
	width: 30%;
	float: left;
	background-color: #000000;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
}

#sorteo {
	height: 92%;
	width: 35%;
	float: right;
	background-color: #000000;
	padding-top: 10px;
}

.sub1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 14pt;
	color: #FFE50A;
	letter-spacing: 1.6px;
}

.text1 {
 	font-family: 'Quicksand', sans-serif;
	color: #ffffff;
	font-size: 11pt;
	font-weight: 400;
	width: 70%;
}

form {
	width: 280px;
	background-color: #FFE50A;
	padding: 1.3%;
	border-radius: 10px;
	line-height: 20px;
}

label {
	font-family: 'Quicksand', sans-serif;
	color: #000000;
	font-size: 10pt;
	font-weight: 500;
}

.cajita {
	width: 100%;
	border-radius: 5px;
}

.caja {
	width: 100%;
	height: 35px;
	border-radius: 5px;
}

.bases {
	font-family: 'Quicksand', sans-serif;
	color: #000000;
	font-size: 8pt;
	font-weight: 700;
	line-height: 12px;
}

.remeras {
	width: 100%;
}

.enviar {
	width: 40%;
	height: 30px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 5px;
	font-family: 'Quicksand', sans-serif;
	align-content: center;
	font-size: 10pt;
	font-weight: 500;
	margin-left: 80px;
}

#datos {
	height: 92%;
	width: 35%;
	float: left;
	background-color: #000000;
	padding-left: 169px;
	padding-top: 10px;
}

.video {
	width: 100%;
	height: 200px;
}

#argumento {
	height: 92%;
	width: 30%;
	float: left;
	background-color: #000000;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
}

.text {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 11pt;
	color: #FFFFFF;
}

#curiosidades {
	height: 92%;
	width: 35%;
	float: right;
	background-color: #000000;
	padding-top: 10px;
	padding-right: 169px;
}

#eprincipales {
	height: 92%;
	width: 35%;
	float: left;
	background-color: #000000;
	padding-left: 169px;
	padding-top: 10px;
}

#paleta {
	height: 92%;
	width: 30%;
	float: left;
	background-color: #000000;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
}

#ambientacion {
	height: 92%;
	width: 35%;
	float: right;
	background-color: #000000;
	padding-top: 10px;
	padding-right: 169px;
}
